@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*font-family: 'Montserrat', sans-serif;*/

:root{
    --celeste-:#34B0BE;
    --gris-claro:#D1CECA;
    --gris-oscuro:#242635;
    --blanco-:#ffffff;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}


body{
    font-family: 'Montserrat', sans-serif;
   background-color: #040824;
}



.nav--div-label__menu{
    color:#ffffff;
}


.header{
    min-height: 100vh;
    
}

.nav{
    height: 80px;
    display: flex;
    padding: 0.5rem 1.5rem;
    justify-content: end;
    align-items: center;
} 
.input-menu{
    display: none;
}
.nav--menu{
    list-style: none;
    position: absolute;
    width: calc(100% - 3rem);
    right: 1.5rem;
    background-color:#242635;
    top: 105px;
    padding: 1.5rem;
    text-align: center;
    display: none;
}
.nav--menu::after{
    content: " ";
    display: block;
    border-top: 15px solid transparent;
    border-bottom: 15px solid #242635;
    border-right: 15px solid #242635;
    border-left: 15px solid transparent;
    position: absolute;
    right: 0;
    top: -29px;
}
.input-menu:checked ~ .nav--menu{
    display: block;
}
.nav--nav-item{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #D1CECA;
}

.nav--nav-item > a{
    color:#D1CECA;
    text-decoration: none;
}

.header--article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
   
    gap: 2rem;
    padding: 1rem 1.5rem;
}
.article--div-info{
    padding: 1rem;
    text-align: center;
}
.article--div__h1{
color:#D1CECA;
font-size: 1.5rem;
font-weight: 600;
font-family: 'Montserrat', sans-serif;
}
.article--div__h2{
    color: #34B0BE;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 3px solid #D1CECA ;
}



.article--div__text{
    color:#D1CECA;
    font-size: 18px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
span{
    color:#34B0BE;

}
.article--div-fotoperfil{

    border-radius: 50%;
    height: 250px;
    width: 250px;
    background-color: #242635;
}
.header--div__fotoperfil{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
   
   
}

.article--social-iconos{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color:#D1CECA;
    
    
    
}
.article--social-container{
   
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
   
}

.article--social-iconos__chicos{
    padding-left: auto;
    padding-right: auto;
    min-width: 70%;
    padding-top: 4px;
    width: 18px;
}
.icono--twitter{
    padding-top: 4.3px;
}
.article--div--div-icono{
    border-radius: 10px;
    background-color: #D1CECA;
    width: 70px;
    height: 50px;
    margin: 1.2rem;
    
   
   
}
.article--div-icono{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #242635;
    margin-bottom: 1rem;
    padding: -1.3rem;
   
    
   
}

.article--div-icono__logo{
    padding-left: 0.7rem;
}
.article--div-icono__logo1{
    padding-top: 0.2rem;
    padding-left: 0.8rem;
    
}

.section--acercademi{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-height: 50%;
    max-width: 100%;
    padding: 1.5rem 2rem;
    text-align: center;
}
.section--acercademi__title{
    color: #34B0BE;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 2rem;
}

.section--acercademi__text{
    color:#D1CECA;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;

}

.section--servicios{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-height: 50%;
    max-width: 100%;
    padding: 1.5rem 2rem;
    text-align: center;
}

.section--servicios-title{
    color: #34B0BE;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
}

.footer--div-contacto{
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
    align-items: center;
    
}
.footer--div-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 3rem;
}
.footer--div-caja{
    
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    gap: 1rem;
    border-radius: 2%;
    
}

.footer--div-caja > img{
    width: 65px;
    height: 65px;
    margin: 1rem 1rem;
}
.footer--div-slogan{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1.5rem;
    font-size: 18px;
    color: #34B0BE;
}
.footer--div-contacto > h2{
    font-size: 32px;
    color: #34B0BE;
}
.footer--div-caja > p{
    color:#242635;
    font-size: 15px;
    justify-content: center;
    text-align: center;
    padding-top: 0.8rem;
}

.section--servicios-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    text-align: center;
    align-items: center;
    
}
.section--servicios-caja{
    width: 250px;
    height: 350px;
    background-color: #ffffff;
    background-image: url(./Vectores/Ellipse\ 14.svg);
    background-repeat: no-repeat;
    margin: 1rem 1.5rem;
    border-radius: 1.5%;
    padding: 2.2rem 1.5rem;
   
    
       
}
.section--servicios-caja > img{
    padding: 1rem 1.5rem;
    
}
.section--servicios-caja > h3{
    padding-bottom: 1rem;
    font-size: 25px;
}
.section--servicios-caja > p{
    color: #242635;
}
.section--mis-habilidades{
    display: flex  ;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.habilidades--tex{
    display: flex;
    justify-content: space-between;
}

.habilidades--contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.habilidades--barra{
    width: 380px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    
}
.habilidades--barra-progreso{
    width: var(--w);
    height: 100%;
    background-color:#34B0BE;
    border-radius: 10px;
    animation: aumentar 5s ease;
}

@keyframes aumentar{
    0%{width: 0%;}
   
    100%{width: var(--w);}
}
.habilidades:active .habilidades--barra-progreso{
    animation: aumentar 5s ease;
}

.section--mis-habilidades > h2{
    font-size: 32px;
    color: #34B0BE;
    padding-bottom: 2rem;

}
.habilidades--tex > h3{
    font-size: 18px;
    color: #ffffff;
    padding-bottom: 0.3rem;

}

.habilidades--tex > h4{
    color: #34B0BE;
}
.habilidades{
    padding: 1rem 1.5rem;
}




@media screen and (min-width: 500px) {
    .section--acercademi{
        padding: 1rem 5rem;
    }
   
}

@media screen and (min-width: 678px)  {
    .input-menu{
        display:none
    }
    .input-label{
        display: none;
    }
    .nav--div-label__menu{
        display: none;
    }
    .nav--menu{
    display: flex;
    flex-direction: row ;
    justify-content: end;
    background-color: transparent;

    top:10px;
    color: #D1CECA;


    }
   .nav--menu::after{
        display: none;
    }
    .nav--nav-item{
        padding: 1.2rem;
        font-size: 13px;
    }

    
    
}

@media screen and (min-width: 992px) {
    .header--article{
        display: grid;
        grid-template-rows:70% 30% ;
        grid-template-columns: 25% 50% 25%;
        

    }
    .article--div-fotoperfil{
        grid-column: 2/4;
    }
    .article--div-info{
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: start;
        
    }
    .article--div-icono{
        grid-column: 1/4;
        grid-row: 2/2;
    }

    .article--div__h1{
        font-size: 50px;
        
    }
    .article--div__h2{
        font-size: 80px;

    }
    .nav--nav-item{
        padding: 1.2rem;
        font-size: 18px;
    }
    .article--div-fotoperfil{
        width: 700px;
        height: 700px;
        margin-top: 5rem;
        
    }
    .header--div__fotoperfil{
        margin-top: -2rem;
    }
    
    .article--social-iconos{
        width: 60px;
        height: 60px;
        display: flex;
        flex-direction: center;
        justify-content: center;
       
        
    }
    .article--social-container{
        display: flex;
        flex-direction: row;
        justify-content: start;
        gap:1rem;
    }
    .article--social-iconos__chicos{
        width: 35px;
        height: 35px;
        margin-top: 11px; 
        

    }

    .icono--twitter{
    width: 35px;
    height: 35px;
    margin-top: 11px;
}
.article--div__text{
    font-size: 25px;
}
.article--div__h2{
    border-bottom: none;
}
.article--div-icono{
    width: 1000px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -6.5rem;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.article--div--div-icono{
    width: 250px;
    height: 130px;
    margin-top: 1.8rem;
    display: flex;
    flex-direction: center;
    justify-content: center;
}
.section--acercademi__text{
    padding: 1rem 10rem;
    font-size: 25px;
}
.section--acercademi__title{
    font-size: 50px;
}
.section--servicios-title{
    font-size: 50px;
    padding-bottom: 2rem;
}
.footer--div-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12rem;
}
.footer--div-caja{
    width: 300px;
    height: 300px;
    
   
}
.footer--div-caja > img{
    width: 7rem;
    height: 7rem;
    margin-top: 3rem;
}
.footer--div-caja > p{
    font-size: 18px;
}
.footer--div-caja{
    font-size: 20px;
}
.footer--div-contacto > h2{
    font-size: 50px;
    padding: 1.5rem 1rem;
}
.footer--div-slogan{
    padding: 5rem;
}
.section--servicios-container{
display: flex;
flex-direction: row;
justify-content: space-between;
}
.section--servicios-caja{
width: 325px;
height: 425px;
}
.section--servicios-caja > img{
width: 12rem;
height: 12rem;
padding: 2rem;
}
.section--servicios-caja > p{
    font-size: 18px;
    padding-top: 1rem;
}
}